$border-radius: 10px;
.app-div {
  background: aliceblue;
  .boardsContainer {
    white-space: nowrap;
    overflow-x: scroll;

    .board-body {
      display: inline-block;
      vertical-align: top;
      min-width: 200px;
      background-color: #d4e2e1;
      border-radius: $border-radius;
      padding: 5px;
      margin: 3px;

      .moveRight {
        float: right;
      }

      .moveLeft {
        float: left;
      }

      .task-list {
        min-height: 10px;
        min-width: 10px;
        background: aliceblue;
        border-radius: $border-radius;
        .task-body {
          margin: 5px;
          padding: 10px;
          background: #95c7c7;
          border-radius: $border-radius;
        }
      }

      .add-task {
        padding: 10px;
        background: yellow;
        border-radius: $border-radius;
      }
    }
  }
  .add-new-board {
    background: aquamarine;
  }
}


